In [2]:
v=input()
vow=['a','e','i','o','u']
k=''.join([i for i in v if i not in vow])
print(k)

hi
h

In [1]:
n=input()
vow=['a','e','i','o','u']
l=''.join([i for i in n if i in vow])
print(l)

data
aa

In [3]:
s=[10,11,50,34]
l1=[]
for i in s:
  k=str(s.index(i))
  l1.append(int(str(i)+k))
print(l1)

[100, 111, 502, 343]

In [4]:
s=input()
print(s.upper())
print(s.lower())

data science
DATA SCIENCE
data science

In [7]:
n='united states'
v=""
for i in n:
  if i==' ':
    pass
  else:
    v=v+i
print(v)

unitedstates

In [9]:
s='I am learning data science'
k=s.split()
l=[]
for i in k:
  k=i
  g=''
  for j in range(len(i)):
    if j ==0 or j==len(i)-1:
      g=g+i[j].upper()
    else:
      g=g+i[j]
  l.append(g)
print(l)

['I', 'AM', 'LearninG', 'DatA', 'SciencE']

In [10]:
s=input()
c=0
for i in s:
  c=c+1
print(c)

data science
12

In [11]:
for i in range(1,50):
  if i%2 !=0 and i%3 !=0:
    print(i)
  else:
    pass

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49